<?xml version="1.0"?>

<model>
  <name>deepblue</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Kalvik Jakkala</name>
    <email>kd.kalvik@gmail.com</email>
  </author>

  <maintainer email="kd.kalvik@gmail.com">Kalvik Jakkala</maintainer>

  <description>
    A copy of the DeepBlue rover model
  </description>
</model>
